.DS_Store
Thumbs.db
db.json
*.log
node_modules/
!public
public/*
!public/img
public/img/butterfly-icon.png
public/img/error-page.png
public/img/favicon.ico
.deploy*/
_multiconfig.yml
source/_posts/*/*.bkp
